<table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8 border">

  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef mat-sort-header >
      {{column}}
    </th>
    <td mat-cell *matCellDef="let element"  [innerHTML]="sanitizer.bypassSecurityTrustHtml(element[column])"  (click)="OpenModal(column,element)">
      >  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>



<!-- modal -->
<div id="ex1" class="modal">
  <svg (click)="CloseModal()" [attr.xmlns]="deleteModal.xmlns" [attr.viewBox]="deleteModal.viewBox" width="15" height="15">
    <path [attr.d]="deleteModal.d"/>
  </svg>
  <p>{{deleteModal.message}}</p>
  <div class="btn-container">
    <a class="close Yes" rel="modal:close" (click)="CloseModal(); deletePropertyHandler()">Yes</a>
    <a class="close No" rel="modal:close" (click)="CloseModal()">No</a>
  </div>
</div>

