<div class="side-wrapper">
  <div class="side-title">{{title}}</div>
  <div class="side-menu">
    <a  *ngFor="let menuItem of menuItems" [routerLink]="menuItem.isDisabled ? null : menuItem.routerLink"
    (click)="ChangePropertiesHandler(menuItem)"
    >
      <svg [attr.viewBox]="menuItem.viewBox" [attr.fill]="menuItem.fill">
        <ng-container *ngFor="let path of menuItem.paths">
          <path [attr.d]="path.d" [attr.data-original]="path.dataOriginal" [attr.fill]="path.fill" />
        </ng-container>
      </svg>
      {{ menuItem.label }}
      <span class="notification-number updates">{{ menuItem.notification }}</span>
    </a>
  </div>
</div>

