.container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 43%;
  top: 42%;
}
.p{
  font-size: 20px;
  width: 260px;
  text-align:center;

}
svg{
  width: 90px;
}
