table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.mat-elevation-z8{
font-size: 13px;
}
.border{
  border-radius: 10px;
  border: 1px solid black;
}
:host{
  padding-top: 20px;
}
